<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hseea.jsuser.dao.UserMapper">
    <resultMap id="menuResultMap" type="PermissionDto">
        <id property="id" column="id"/>
        <result property="resourceNameZh" column="resource_name_zh"/>
        <result property="resourceType" column="resource_type"/>
        <result property="url" column="url"/>
        <result property="priority" column="priority"/>
        <result property="parentId" column="parent_id"/>
        <result property="component" column="component"/>
    </resultMap>

    <select id="getPermissionIdsByUsername" resultType="integer">
        select role_permission.permission_id
        from users
        left join user_role on users.id = user_role.user_id
        left join role on user_role.role_id = role.id
        left join role_permission on role.id = role_permission.role_id
        where users.username = #{username}
    </select>

    <select id="findMenuByUsername" resultMap="menuResultMap" parameterType="java.util.Set">
        select id,resource_name_zh,url,parent_id,resource_type,priority,component
        from permission
        where is_deleted = 0
        <if test="set != null and set.size > 0">
            and id in
            <foreach collection="set" open="(" close=")" separator="," item="item">
                #{item}
            </foreach>
        </if>
    </select>

</mapper>